/*  
    Background image for website
    Effect: ALL pages
*/
body{
    margin: 0;
    background-image: url("../Images/Dark-Wallpaper-1.jpg");
    background-size: cover;
    color: #fff;
}
.modal
{
    color:#000;
}
/*
    page-id-001 - Earthquakes
    ---------------------
*/
  
.page-id-001 .flex-container {
    display: flex;
    flex-direction: column wrap;
    flex-wrap: wrap;
    padding-top: 3%;
    text-align: center;
}

.page-id-001 #map{
    width: calc(100vw - 275px);
    height: auto;
}
  
.page-id-001 #title{
    align-self: center;
    justify-self: center;
}
  
.page-id-001 #buttons{
    grid-template-rows: repeat(4, auto);
    padding-right: 3%;
}
  
.page-id-001 .buttonbyfeed{
    align-self: center;
    justify-self: center;
}
  
.page-id-001 .buttonfeeds li{
    list-style-type: none;
}
  
.page-id-001 .dynamic{
    background-color: #3d3c3c;
    border: solid #3d3c3c;
    border-radius: 20px;
    margin: 2px;
    padding: 3px;
    color: #fff;
}

@media screen and (max-width: 850px) {
    
    .page-id-001 .buttonbyfeed{
        overflow: hidden;
        display: block;
        text-align: center;
        float: left;
    }

    .page-id-001 .flex-container {
        display: flex;
        flex-direction: column wrap;
    }

    .page-id-001 #map{
        width: 800px;
        height: 600px;
        margin: 10px;
    }

    .page-id-001 .dynamic{
        background-color: #3d3c3c;
        border: solid #3d3c3c;
        border-radius: 20px;
        margin: 1px;
        padding: 1px;
        color: #fff;
    }

}

/*
    page-id-002 - Weather
    ---------------------
*/

.page-id-002 .flex-container {
    display: flex;
    flex-direction: column wrap;
    flex-wrap: wrap;
    padding-top: 1%;
    padding-left: 3%;
    text-align: center;
}

.page-id-002 .controlpanel {
    padding-right: 10px;
}

.page-id-002 #map{
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
    width: 75vw;
}

.page-id-002 .latlon, #location {
    border-radius: 25px;
    border: solid #3d3c3c;
    background-color: #3d3c3c;
    color: white;
    text-align: center;
}
  
.page-id-002 #currentWeather {
    border-radius: 25px;
    border: solid #3d3c3c;
    background-color: #3d3c3c;
    color: white;
}

.page-id-002 .mapcontainer {
    height: auto;
    width: auto;
}

  
@media (max-width: 850px) {
    .page-id-002 .mapcontainer {
        padding-top: 2%;
        padding-right: 2%;
    }

    .page-id-002 #map {
        width: 95vw;
    }

    .page-id-002 #weatherResult {
        float: right;
        padding-left: 35px;
        padding-top: 20px;
    }

    .page-id-002 .controlpanel {
        float: left;
    }

}

@media (max-width: 543px) {
    .page-id-002 #weatherResult {
        padding-right: 100px;
        padding-left: 100px; 
    }

    .page-id-002 .controlpanel {
        padding-right: 40px;
        padding-left: 40px; 
    }

}

/*
    page-id-003 - Crypto Currencies [Lewis]
    ---------------------
*/
.page-id-003 .flex-container {
    display: flex;
    flex-direction: column wrap;
    flex-wrap: wrap;
    padding-top: 3%;
    padding-left: 3%;
    text-align: center;
}

.page-id-003 .cctitle {
    position: relative;
    width: 100%;
    text-align: left;
}

.page-id-003 .buttonCC {
    border-radius: 25px;
    border: solid #3d3c3c;
    background-color: #3d3c3c;
    color: white;
}

/*
    page-id-004 - City Bikes
    ---------------------
*/

/*
    page-id-005 - Petition 
    ---------------------
*/
.page-id-005 
{
    color:#fff;
}

    .page-id-005 body {
        padding: 0;
        margin: 0;
    }

    .page-id-005 html, body {
        height: 100%-30px;
        width: 100vw;
    }

    .page-id-005 .modal-body, .modal-header, #petitiondrop{
        background-color: #3d3c3c;
        color: #000;
        border-color: #3d3c3c;
    }

    .page-id-005 #petitiondrop {
        background-color: #a3a2a2;
    }

    .page-id-005 button.close {
        color: #a3a2a2;
    }

    .page-id-005 .leaflet-container {
        position: absolute;
        height: calc(100% - 70px);
        width: 100%;
        background-color:rgba(255,0,0,0.0);
    }

    .page-id-005 .petition_info {
        float:left;
        z-index: 10;
        padding: 5px;
        position: absolute;
        width: 350px;
        margin-top:75px;
        margin-left:10px;
        background-color: #3d3c3c;
        color: #fff;
    }

    .page-id-005 .peition_ranking {
        float:right;
        width: 220px;
        position: relative;
        z-index: 10;
        margin-top:75px;
        margin-right:10px;
        background-color: #3d3c3c;
    }

    .page-id-005 .pettionname {
        text-align: center;
    }

    .page-id-005 .color-box {
        width: 30px;
        height: 30px;
        float: left;
    }

    .page-id-005 .ranking-row {
        height: 30px;
        margin-bottom: 2px;
    }

    .page-id-005 .ranking-text {
        margin-left: 40px;
    }

    .page-id-005 .wrapper {
        position: absolute;
        width:100%;
        height: calc(100% - 60px);
    }

    .page-id-005 #mapid {
        position:fixed;
    }

    /*
        page-id-006 - Postcode 
        ----------------------
        Flexbox
    */
    .gauage
    {
        float: left;
    }
    .page-id-006 .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 600px;
        height: 800px;
        padding-top: 5%; 
    }

    .page-id-006 .PCform {
        padding-bottom: 30px;
        padding-left: 3%; 
        padding-right: 3%; 
    }

    .page-id-006 .buttons {
        padding-left: 3%; 
        align-self: center;
        padding-bottom: 400px;
    }
    .page-id-006 #mapid {
        
    }

    .page-id-006 .mapinfo {
        padding-top: 3%; 
        align-self: center;
    }

    /*
        Map Filter Buttons
        Postcode Search Bar and Button
    */

    .page-id-006 .buttons .pc_sidebuttons{
        display: block;
        background-color: #3d3c3c;
        padding: 5px 12px;
        cursor: pointer;
        text-align: center;
        border-radius: 25px; 
        border: solid #3d3c3c;
        margin-bottom: 5px;
        color: white;
    }

    .page-id-006 #pcsearch {
        border-radius: 25px;
        border: solid #3d3c3c;
        background-color: #3d3c3c;
        color: white;
    }

    .page-id-006 #pc {
        border-radius: 25px;
        border: solid #3d3c3c;
        background-color: #3d3c3c;
        color: white;
        text-align: center;
    }

/*
    page-id-007 - Overview/Splashscreen [Lewis]
    ---------------------
*/
.page-id-007 .flex-container {
    display: flex;
    flex-direction: column wrap;
    flex-wrap: wrap;
    padding-top: 0.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
}

.page-id-007 a{
    color: #fff
}

.page-id-007 .Sect1{
    padding:1%;
    width: 50%;
    float: left;
}

.page-id-007 .Sect2{
    padding:1%;
    width: 50%;
    float: left;
}


@media screen and (max-width: 850px){

}

.page-id-007 .visualisation-container{
    width: 100%;
    background-color: #3d3c3c;
    border-radius: 25px;
    border-style: solid;
    border-color: #333232;
    border-width: 6px 6px 6px 6px;
    margin: 0.5%;
}

.page-id-007 .tutorial-container{
    width: 100%;
    background-color: #3d3c3c;
    border-radius: 25px;
    border-style: solid;
    border-color: #333232;
    border-width: 6px 6px 6px 6px;
    margin: 0.5%;
} 

.page-id-007 .Vis-Head{
    width: 100%;
}

.page-id-007 .Vis-Cont{
    width: 50%;
    margin: 1%;
    margin-left: 25%;
    margin-right: 25%;

}

 .page-id-007 .Vis-Cont:hover{
    opacity: 0.5;
    filter: alpha(opacity=50); 
}

.page-id-007 .Tut-Head{
    width: 100%;
}

.page-id-007 .Tut-Cont{
    width: 50%;
    margin: 1%;
    margin-left: 25%;
    margin-right: 25%;
}

.page-id-007 .Tut-Cont:hover{
    opacity: 0.5;
    filter: alpha(opacity=50); 
}


/*
    page-id-008 - GeoJSON Tutorial
    ---------------------
*/

    .page-id-008 .flex-container {
        margin: 1%;
    }

    .page-id-008 .section_1, .section_2, .section_ref{
        background-color: #a3a2a2;
        border-radius: 25px;
        padding: 2%;
        margin: 1%;
    }

    .page-id-008 .code_snippet{
        background-color: #a3a2a2;
        border-radius: 25px;
        padding: 2%;
        margin: 1%;
    }

    .page-id-008 pre {
        color: red;
    }

/*
    page-id-009 - Tutorial 02
    ---------------------
*/

    .page-id-009 .flex-container {
        margin: 1%;
    }

    .page-id-009 .section_1, .section_2, .section_ref{
        background-color: #a3a2a2;
        border-radius: 25px;
        padding: 2%;
        margin: 1%;
    }

    .page-id-009 .code_snippet{
        background-color: #a3a2a2;
        border-radius: 25px;
        padding: 2%;
        margin: 1%;
    }

    .page-id-009 pre {
        color: red;
    }

/*
    page-id-010 - Tutorial 03
    ---------------------
*/

    .page-id-010 .flex-container {
        margin: 1%;
    }

    .page-id-010 .section_1, .section_2, .section_ref{
        background-color: #a3a2a2;
        border-radius: 25px;
        padding: 2%;
        margin: 1%;
    }

    .page-id-010 .code_snippet{
        background-color: #a3a2a2;
        border-radius: 25px;
        padding: 2%;
        margin: 1%;
    }

    .page-id-010 pre {
        color: red;
    }


/*
    page-id-011 - Tutorial 04
    ---------------------
*/
.page-id-012 .dataitem {
    width:400px;
    float:left; 
    margin-left: 10px;
    padding-left: 2px;
    padding-bottom: 25px;
    background: #fff;
    color: #000;
    word-wrap: break-word;
}
.page-id-012 .databuttonholder {
    padding-left: 15px;
}
.page-id-012 .databutton {
    width: 180px;
}
.page-id-012 .datahead {
    text-align: center;
}
.page-id-012 .dataholder {
    margin-top: 10px;
}
/*
    page-id-012 - Tutorial 05
    ---------------------
*/

    .page-id-011 .flex-container {
        margin: 1%;
    }

    .page-id-011 .section_1, .section_2, .section_ref{
        background-color: #a3a2a2;
        border-radius: 25px;
        padding: 2%;
        margin: 1%;
    }

    .page-id-011 .code_snippet{
        background-color: #a3a2a2;
        border-radius: 25px;
        padding: 2%;
        margin: 1%;
    }

    .page-id-011 pre {
        color: red;
    }

/* page-id-013 - Authors
   --------------------- 
*/

.page-id-013 .flex-container {
    display: flex;
    flex-direction: column wrap;
    flex-wrap: wrap;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
}

.page-id-013 img{
    border-radius: 100%;
  }