/*  
    Background image for website
    Effect: ALL pages
*/
body{
    margin: 0;
    background-image: url("../Images/Dark-Wallpaper-1.jpg");
    background-size: cover;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
}

h2 {
    border-style: solid;
    border-color: #D4aF37;
    border-width: 0px 0px 3px 0px;
}
.modal
{
    color:#000;
}

/*
    page-id-001 - Earthquakes
    ---------------------
*/
  
.page-id-001 .flex-container {
    display: flex;
    flex-direction: column wrap;
    flex-wrap: wrap;

    padding-top: 2%;
    text-align: center;
}

.page-id-001 #map{
    width: calc(100vw - 275px);
    height: auto;
}
  
.page-id-001 #title{
    align-self: center;
    justify-self: center;
}
  
.page-id-001 #buttons{
    grid-template-rows: repeat(4, auto);
    padding-right: 3%;
}
  
.page-id-001 .buttonbyfeed{
    align-self: center;
    justify-self: center;
}
  
.page-id-001 .buttonfeeds li{
    list-style-type: none;
}
  
.page-id-001 .dynamic{
    background-color: #3d3c3c;
    border: solid #3d3c3c;
    border-radius: 20px;
    margin: 2px;
    padding: 3px;
    color: #fff;

    /* ALT to look like overview page buttons 
            border-radius: 25px;
        border: solid #D4aF37;
        background-color: #333232;
        color: white;
        */
}

@media screen and (max-width: 850px) {
    
    .page-id-001 .buttonbyfeed{
        overflow: hidden;
        display: block;
        text-align: center;
        float: left;
    }

    .page-id-001 .flex-container {
        display: flex;
        flex-direction: column wrap;
    }

    .page-id-001 #map{
        width: 800px;
        height: 600px;
        margin: 10px;
    }

}

/*
    page-id-002 - Weather
    ---------------------
*/

.page-id-002 .flex-container {
    display: flex;
    flex-direction: column wrap;
    flex-wrap: wrap;
    padding-top: 1%;
    padding-left: 3%;
    text-align: center;
}

.page-id-002 .controlpanel {
    padding-right: 10px;
}

.page-id-002 #map{
    width: calc(99vw - 280px);
    height: 100%;
    position: absolute;
}

.page-id-002 .latlon, #location {
    border-radius: 25px;
    border: solid #3d3c3c;
    background-color: #3d3c3c;
    color: white;
    text-align: center;
}
  
.page-id-002 #currentWeather {
    border-radius: 25px;
    border: solid #3d3c3c;
    background-color: #3d3c3c;
    color: white;
}
  
@media (max-width: 850px) {
    .page-id-002 .flex-container {
        display: flex;
        flex-direction: column wrap;
    }

    .page-id-002 .mapcontainer {
        height: auto;
        width: auto;

    }

    .page-id-002 #map {
        height: 90%;
    }
}

/*
    page-id-003 - Crypto Currencies [Lewis]
    ---------------------
*/
.page-id-003 .flex-container {
    display: flex;
    flex-direction: column wrap;
    flex-wrap: wrap;
    padding-top: 0.5%;
    padding-left: 3%;
    text-align: center;
}

.page-id-003 .cctitle {
    position: relative;
    width: 100%;
    text-align: left;
}

.page-id-003 .buttonCC {
    border-radius: 25px;
    border: solid #D4aF37;
    background-color: #333232;
    color: white;
}

.page-id-003 .Graph-Cont{
    position: relative;
    width: 100%;
    background-color: #3d3c3c;
    border-radius: 25px;
    border-style: solid;
    border-color: #333232;
    border-width: 6px 6px 6px 6px;
    margin: 0.5%;
}

/*
    page-id-004 - City Bikes
    ---------------------
*/

.page-id-004 .flex-container {
    display: flex;
    flex-direction: column wrap;
    flex-wrap: wrap;
    padding-top: 0.5%;
    text-align: center;
}

/* .page-id-004 .cbtitle { --OPTIONAL TITLE--
    width: 100%;
    text-align: left;
    margin: 1%;
} */

/*
    page-id-005 - Petition [Adrian]
    ---------------------
*/
.page-id-005 
{
    color:#000;
}
.gauage
{
    float: left;
}

.page-id-005 .Background {
    background-color: #3d3c3c;
}

/*
    page-id-006 - Postcode [Adrian]
    ----------------------
    Flexbox
*/

.page-id-006 .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    height: 800px;
    padding-top: 5%; 
}

.page-id-006 .PCform {
    padding-bottom: 30px;
    padding-left: 3%; 
    padding-right: 3%; 
}

.page-id-006 .buttons {
    padding-left: 3%; 
    align-self: center;
    padding-bottom: 400px;
}


.page-id-006 .mapinfo {
    padding-top: 3%; 
    align-self: center;
}

/*
    Map Filter Buttons
    Postcode Search Bar and Button
*/



.page-id-006 .buttons .pc_sidebuttons{
    display: block;
    background-color: #3d3c3c;
    padding: 5px 12px;
    cursor: pointer;
    text-align: center;
    border-radius: 25px; 
    border: solid #3d3c3c;
    margin-bottom: 5px;
    color: white;
}

.page-id-006 #pcsearch {
    border-radius: 25px;
    border: solid #3d3c3c;
    background-color: #3d3c3c;
    color: white;
}

.page-id-006 #pc {
    border-radius: 25px;
    border: solid #3d3c3c;
    background-color: #3d3c3c;
    color: white;
    text-align: center;
}

/*
    page-id-007 - Overview/Splashscreen [Lewis]
    ---------------------
*/
.page-id-007 .flex-container {
    display: flex;
    flex-direction: column wrap;
    flex-wrap: wrap;
    padding-top: 0.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
}

.page-id-007 a{
    color: #fff
}

.page-id-007 .Sect1{
    padding:1%;
    width: 50%;
    float: left;
}

.page-id-007 .Sect2{
    padding:1%;
    width: 50%;
    float: left;
}


@media screen and (max-width: 850px){

}

.page-id-007 .visualisation-container{
    width: 100%;
    background-color: #3d3c3c;
    border-radius: 25px;
    border-style: solid;
    border-color: #333232;
    border-width: 6px 6px 6px 6px;
    margin: 0.5%;
}

.page-id-007 .tutorial-container{
    width: 100%;
    background-color: #3d3c3c;
    border-radius: 25px;
    border-style: solid;
    border-color: #333232;
    border-width: 6px 6px 6px 6px;
    margin: 0.5%;
} 

.page-id-007 .Vis-Head{
    width: 100%;
}

.page-id-007 .Vis-Cont{
    width: 50%;
    margin: 1%;
    margin-left: 25%;
    margin-right: 25%;

}

 .page-id-007 .Vis-Cont:hover{
    opacity: 0.5;
    filter: alpha(opacity=50); 
}

.page-id-007 .Tut-Head{
    width: 100%;
}

.page-id-007 .Tut-Cont{
    width: 50%;
    margin: 1%;
    margin-left: 25%;
    margin-right: 25%;
}

.page-id-007 .Tut-Cont:hover{
    opacity: 0.5;
    filter: alpha(opacity=50); 
}


/*
    page-id-008 - Tutorial 01
    ---------------------
*/

/*
    page-id-009 - Tutorial 02
    ---------------------
*/

/*
    page-id-010 - Tutorial 03
    ---------------------
*/

/*
    page-id-011 - Tutorial 04
    ---------------------
*/
.page-id-011 .dataitem {
    width:400px;
    float:left; 
    margin-left: 10px;
    padding-left: 2px;
    padding-bottom: 25px;
    background: #fff;
    color: #000;
}
.page-id-011 .databuttonholder {
    padding-left: 15px;
}
.page-id-011 .databutton {
    width: 180px;
}
.page-id-011 .datahead {
    text-align: center;
}
.page-id-011 .dataholder {
    margin-top: 10px;
}
/*
    page-id-012 - Tutorial 05
    ---------------------
*/

/* page-id-013 - Authors [Lewis]

*/

.page-id-013 .flex-container {
    display: flex;
    flex-direction: column wrap;
    flex-wrap: wrap;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
}

.page-id-013 img{
    border-radius: 100%;
  }

