.wrapper{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2em 1fr 1fr 2em;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
  " paddingstart header header paddingend "
  " paddingstart opencontent opencontent paddingend "
  " paddingstart content content paddingend ";
}

.headercontainer{
  grid-area: header;
  display: grid;
  grid-gap: 0px;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
  " title "
  " navbar ";
}

#title{
  grid-area: title;
  align-self: center;
  justify-self: center;
}

#navbar{
  grid-area: navbar;
  align-self: start;
  justify-self: end;
}

#navbar ul li a{
  text-decoration: none;
  color: red;
}

#navbar ul li{
  display: inline-block;
  padding: 0px 10px 0px 10px;
  color: red;
}

.contentwrapper{
  grid-area:content;
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto 1fr;
  grid-template-areas: 
  " open "
  " innercontent "
}

.contentcontainer{
  grid-area: innercontent;
}

.opencontent {
  grid-area: opencontent;
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  grid-template-areas: 
  " tutorialnav "
  " tutorialcontent "
  " tutorialbutton "
}

.opencontent .tutorial{
  grid-area: tutorialcontent;
  display:grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
  " . ottitle . "
  ". otdescription ."
  ". otcontent ."
  ". otbutton .";
  place-items: center;
}

.opencontent .tutorialnav{
  grid-area: tutorialnav;
  display: grid;
}

.opencontent .tutorialnav li{
  display: inline-block;
  border: 3px solid greenyellow;
  background-color: palevioletred;
}

.opencontent .hide{
  grid-area: tutorialbutton;
}

.opencontent .tutorial .tutorialTitle{
  grid-area: ottitle;
}

.opencontent .tutorial .tutorialDescription{
  grid-area: otdescription;
}

.opencontent .tutorial .tutorialContent{
  grid-area: otcontent;
  background-color: antiquewhite;
} 

#tutorials{
  grid-area: innercontent;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-gap: 10px;

}

#tutorials .tutorial{
  display: grid;
  justify-items: center;
  align-items: center; 
  border: 2px solid goldenrod;
}