
/*The map div needs to have width and height defined,
  otherwise the google maps element wont get displayed.
  I left this other shit here as a placeholder but apart from this first #map div, 
  nothing else is needed for functionality of the page*/
#map{
  width: 100%;
  height: 450px;
}

.wrapper{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2em auto 6fr 4fr 2em;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  " paddingstart header header header paddingend "
  " paddingstart content map map paddingend ";
}

.headercontainer{
  grid-area: header;
  display: grid;
  grid-gap: 0px;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
  " title "
  " navbar ";
}

#title{
  grid-area: title;
  align-self: center;
  justify-self: center;
}

#navbar{
  grid-area: navbar;
  align-self: start;
  justify-self: end;
}

#navbar ul li a{
  text-decoration: none;
  color: red;
}

#navbar ul li{
  display: inline-block;
  padding: 0px 10px 0px 10px;
  color: red;
}

.mapcontainer{
  grid-area: map;
}

.controlpanel{
  grid-area: content;
}

@media (max-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
      "header header header"
      " map map map "
      " content content content "
  }

  .controlpanel{
    justify-self: center;
    align-self: center;
  }
  
}