<link rel="stylesheet" type="text/css" media="screen" href="/css/nav.css"/>
<nav class="horizontal_nav_bar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/earthquakes">Earthquakes</a></li>
        <li><a href="/weather">Weather</a></li>
        <li><a href ="/crypto">Crypto Currencies</a></li>
        <li><a href="/citybikes">City Bikes</a></li>
        <li><a href="Government thing instead of trains">TEMP</a></li>
        <li><a href="/postcode">Postcode</a></li>
        <li><a href="Need to actually implement an about page">About</a></li>
        <li>
            <div class="dropdown-menu">
                <button class="dropdwn">Tutorial</button>
                <div class="dropdown-item">
                    <a href="Not Implemented">Tutorial 1</a>
                    <a href="Not Implemented">Tutorial 2</a>
                    <a href="Not Implemented">Tutorial 3</a>
                    <a href="Not Implemented">Tutorial 4</a>
                    <a href="Not Implemented">Tutorial 6</a>
                </div>
            </div>
        </li>
    </ul>
</nav>