<!DOCTYPE html>
<html>
<head>
    <% include ../Sections/head%>
</head>
<body class="page page-id-003">
    <% include ../Sections/error_catch%>
    <% include ../Sections/nav%>
    <div class="flex-container">
    <div class="cctitle">
    <h1>Cryptocurrency </h1>
    </div>
    <div class="dropdown">
        <select id="cryptocoin">
            <option value="btc-bitcoin" selected> Bitcoin </option>
            <option value="eth-ethereum"> Ethereum </option>
            <option value="xrp-xrp"> Ripple XRP </option>
            <option value="eos-eos"> EOS </option>
            <option value="bch-bitcoin-cash"> Bitcoin Cash </option>
            <option value="ltc-litecoin"> Litecoin </option>
            <option value="bnb-binance-coin"> Binance Coin</option>
            <option value="usdt-tether"> Tether </option>
            <option value="xlm-stellar"> Stellar </option>
            <option value="ada-cardano"> Cardano </option>
            <option value="trx-tron"> TRON </option>
            <option value="bsv-bitcoin-sv"> Bitcoin SV </option>
            <option value="xmr-monero"> Monero </option>
            <option value="dash-dash"> Dash</option>
            <option value="miota-iota"> IOTA </option>            
        </select>
        <select id="cryptodate">
            <option value="7">Last 7 Days</option>
            <option value="14">Last 14 Days</option>
            <option value="30" selected>Last 30 Days (Month) </option>
            <option value="182">Last 182 Days (6 Months) </option>
            <option value="365">Last 365 Days (Year) </option>
        </select>
    </div>
    <div class="chart-container" style="position: relative; 
    height:100%; 
    width:100%;
    margin:3%"

   >
        <canvas id="myChart"></canvas>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="/JS/Crypto.js"></script>
    <script src="/JS/main.js"></script>
</body>
</html>