<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authors</title>
  <link rel="stylesheet" href="/CSS/authors.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <header id="header">
      <div id="title">
        <h1>IP 3 CW</h1>
      </div>
      <div id="navbar">
        <ul>
          <li><a href="../weather/weather.html">Weather</a></li>
          <li><a href="../earthquakes/earthquakes.html">Earthquakes</a></li>
          <li><a href>Authors</a></li>
          <li><a href="../tutorials/tutorial.html">tutorials</a></li>
        </ul>
      </div>
    </header>

    <div class="content">
      <div class="contentheader">
        <div id="authors">      
            <h1>Authors</h1>
          </div>
      
          <div id="description">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A, ea suscipit labore, ratione omnis voluptatum maxime nisi adipisci eaque, doloremque deserunt similique? Laudantium cum unde aperiam rerum obcaecati, eveniet aliquam itaque accusamus suscipit ex neque reiciendis deserunt explicabo iure eaque nesciunt autem quis sit animi optio facilis ipsum? Maiores et quia dolorum repellat, nulla debitis minima voluptate, sit, voluptates aliquid beatae quas itaque eveniet! Assumenda, dolor quaerat sunt corporis obcaecati, nesciunt error provident qui, magni cumque mollitia consequatur nemo exercitationem</p>
          </div>
      </div>
      <div class="contentbody">
        <div id='profiles'>
        </div>
      </div>

    </div>
        
  </div>
  
  <script src="/JS/authors.js"></script>
</body>
</html>