<!DOCTYPE html>
<html>
<head>
    <% include ../Sections/head%>
    <link rel="stylesheet" type="text/css" media="screen" href="/CSS/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/CSS/MarkerCluster.Default.css" />
</head>
<body>
    <% include ../Sections/nav%>
    <div id="citymap" style="position: absolute;
    top: 60px; /* Header Height */
    bottom: 20px; /* Footer Height */
    width: 100%;"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="crossorigin=""></script>
    <script src="/JS/citybikes.js"></script>
    <script src="/JS/leaflet.markercluster.js"></script>
    
</body>
</html>