<!DOCTYPE html>
<html>
<head>
    <% include ../Sections/head%>
</head>
<body class="page page-id-003">
    <% include ../Sections/error_catch%>
    <% include ../Sections/nav%>
    <div class="flex-container">
    <div class="cctitle">
    <h1>Cryptocurrency </h1>
    </div>
    <div class="Graph-Cont">
    <div style="position: relative; height:40px;">
        <button type="button" id="bitcoin" class="buttonCC">Bitcoin</button> 
        <button type="button" id="ethereum" class="buttonCC">Ethereum</button> 
        <button type="button" id="xrp" class="buttonCC">Ripple (XRP)</button> 
        <button type="button" id="dogecoin" class="buttonCC">Dogecoin</button> 
        <select id="cryptodate">
            <option value="7">Last 7 Days</option>
            <option value="14">Last 14 Days</option>
            <option value="30" selected>Last 30 Days (Month) </option>
            <option value="182">Last 182 Days (6 Months) </option>
            <option value="365">Last 365 Days (Year) </option>
        </select>
    </div>
    <div class="chart-container" style="position: relative; 
    height:80%; 
    width:80%;
    margin:1%"
   >
        <canvas id="myChart"></canvas>
    </div>
</div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="/JS/Crypto.js"></script>
    <script src="/JS/main.js"></script>
</body>
</html>