<!DOCTYPE html>
<html>
<head>
    <% include ../Sections/head%>
</head>
<body class="page-id-011">
    <% include ../Sections/error_catch%>
    <% include ../Sections/nav%>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Page
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#" id="cryptolink">Crypto</a></li>
            <li><a href="#" id="bikeslink">City Bikes</a></li>
            <li><a href="#" id="petitionlink">Petition</a></li>
            <li><a href="#" id="postcodelink">Postcode</a></li>
        </ul>
    </div>
    <div id="cryptodiv">
        <h3> Cryptocurreny </h3>
    </div>
    <div id="bikesdiv">
        <h3> City Bikes </h3>
        <a href="https://api.citybik.es/v2/"> API Documentation</a> <br>
        <div class="dataset">
            <h4> API endpoint: <a href="https://api.citybik.es/v2/networks"> https://api.citybik.es/v2/networks </a><h4>
                Input: No inputs needed. <br> 
                Output layout: </p>
                <p> Output: </p>

        </div>
    </div>
    <div id="petitiondiv">
        <h3> Petition </h3>
    </div>
    <div id="postcodediv">
        <h3> Postcode </h3>
    </div>
    <div class="dataholder">
        <div class="dataitem">
            <div class="datahead"> 
                <h5> City Bikes - Networks </h5>
            </div>
            <div class="databody">
                <p> 
                <a href="https://api.citybik.es/v2/"> API Documentation</a>
                <br> 
                API Endpoint:  <a href="https://api.citybik.es/v2/networks"> https://api.citybik.es/v2/networks </a>
                </p>
            </div>
            <div class="databuttonholder"> 
                <button type="button" class="databutton" onclick="iclick(1);"> Input </button>
                <button type="button" class="databutton"  onclick="tclick(1);"> Template</button>
                <button type="button" class="databutton"  onclick="oclick(1);"> Output </button>
                <button type="button" class="databutton"  onclick="uclick(1);"> Project Use </button>
            </div>
            <div class="datainfo datainput" id="di1">
                <p> No input is needed for this request to take place </p> 
            </div>
            <div class="datainfo datatemplate" id="dt1">
                <pre>
 "networks" : [
     {
        "company": [
            "Company Name(s) in array"
        ],
        "href": "Link to information of network",
        "id": "Network ID",
        "location": {
            "city": "City name",
            "country": "Country in 2 Letter Form",
            "latitude": Latitude,
            "Longitude": Longitude
        },
        "name": "Name of the network"
        }
 ]
                </pre>
            </div>
            <div class="datainfo dataoutput" id="do1">
                            <pre>
"networks": [
    {
        "company": [
            "Nextbike GmbH"
        ],
        "href": "/v2/networks/norisbike-nurnberg",
        "id": "norisbike-nurnberg",
        "location": {
            "city": "Nürnberg",
            "country": "DE",
            "latitude": 49.4479,
            "longitude": 11.0814
        },
        "name": "NorisBike"
    }
]
            </pre>
            </div>
            <div class="datainfo datause" id="du1">
                <p>In this project we use this api to get the following data and then display this data onto a map for the user to pick a network from.</p>
                <h6> Data Used: </h6>
                <ul>
                    <li> Network Name </li>
                    <li> Latitude </li>
                    <li> Longitude </li>
                    <li> Network ID </li>
                </ul>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="crossorigin=""></script>
    <script src="/JS/datasets.js"></script> 
</body>
</html>