<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../Sections/head%>
  <meta charset="UTF-8">
  <title>Earthquakes</title>
  <link rel="stylesheet" href="/CSS/earthquakes.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <% include ../Sections/nav%>
  <div class="wrapper">
  
    <div id="buttons"></div>

    <div id="map"></div>

  </div>
  
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFB8EFlo6aU6XRrGqD1D6mtYwh-T5PIhM
  &callback=initMap"></script>
  <script async defer src="/JS/earthquakes.js"></script>
</body>
</html>