<!DOCTYPE html>
<html lang="en">
<head>
<% include ../Sections/head%>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tutorial</title>
</head>
<body>
  <% include ../Sections/nav%>
  <div class="wrapper">
      <h1>GeoJson</h1>

      <p>
        The purpose of this page is to introduce GeoJson
      </p>
  </div>
</body>
</html>