<!DOCTYPE html>
<html>
<head>
  <% include ../Sections/head%>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CHANGEMECHANGEME </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/CSS/latloninfo.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <% include ../Sections/nav%>
  <p>lol</p>
  
  <script async defer src="/JS/latloninfo.js"></script>
</body>
</html>