<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../Sections/head%>
  <meta charset="UTF-8">
  <title>Overview</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <% include ../Sections/nav%>

  <div class="wrapper">
    <h1>Individual Project 3</h1>

    <p>The purpose of this website is to complete the requirements given to this group as a part of the Integrated Project 3, 
      completed as a part of our studies at Glasgow Caledonian University.
    </p>
    
    </br>
  
    <p>The project consists of a set of data visualisations and of tutorials related to the theme of visualisations and data manipulation
        within the context of the project. 
    </p>
      
    </br>
    
    <p>There were in total 6 visualisations created, and you can find them listed here: 
    </p>
  
    <div class="visualisationcontainer">
      <div class="visualisation">
        <a href="/earthquakes">
          <!--<img src="./IMAGES/Logos/earthquake.png" alt="Earthquake picture" width="80" height="80">
          -->
          <h3>Earthquakes</h3>  
        </a>    
      </div>
      <div class="visualisation">
        <a href="/weather">
          <!--<img src="./IMAGES/Logos/weather.png" alt="Earthquake picture" width="80" height="80">
          -->
          <h3>Weather</h3>
        </a>
      </div>
      <div class="visualisation">
        <a href="/crypto">
          <!--<img src="./IMAGES/Logos/bitcoin.png" alt="Earthquake picture" width="80" height="80">
          -->
          <h3>Crypto Currencies</h3> 
        </a>
      </div>
      <div class="visualisation">
        <a href="/citybikes">
          <!--<img src="./IMAGES/Logos/bike.png" alt="Earthquake picture" width="80" height="80">
          -->
          <h3>City Bikes</h3>
        </a>
      </div>
      <div class="visualisation">
        <a href="/postcode">
          <!--<img src="./IMAGES/Logos/postcode.png" alt="Earthquake picture" width="80" height="80">
          -->
          <h3>Postcode</h3>
        </a>
      </div>
      <div class="visualisation">
        <a href="/petition">
          <!--<img src="./IMAGES/Logos/petition.png" alt="Earthquake picture" width="80" height="80">
          -->
          <h3>Petitions</h3>
        </a>
      </div>
    </div>

    <p>In addition to the visualisations this project produced 6 tutorials which you can find here: </p>
    <div class="tutorialcontainer">

      <div class="tutorial">
        <a href="/geojsontutorial">
          <!--<img src="./IMAGES/Logos/geojson.png" alt="picturealt" width="80" height="80">
          -->
          <h3>GeoJSON</h3>
        </a>
      </div>

      <div class="tutorial">
        <a href="/earthquaketutorial">
          <!--<img src="./IMAGES/Logos/earthquake.png" alt="picturealt" width="80" height="80">
          -->
          <h3>Earthquake Data Fundamentals</h3>
        </a>
      </div>

      <div class="tutorial">
        <a href="/weathertutorial">
          <!--<img src="./IMAGES/Logos/weather.png" alt="picturealt" width="80" height="80">
          -->
          <h3>Weather Data Fundamentals</h3>
        </a>
      </div>

      <div class="tutorial">
        <a href="/javascripttutorial">
          <!--<img src="./IMAGES/Logos/javascript.png" alt="picturealt" width="80" height="80">
          -->
          <h3>Data accessing and processing with JavaScript</h3>
        </a>
      </div>

      <div class="tutorial">
        <a href="">
          <!--<img src="./IMAGES/Logos/data.png" alt="picturealt" width="80" height="80">
          -->
          <h3>Explore Data Feeds</h3>
        </a>
      </div>

      <div class="tutorial">
        <a href="">
          <!--<img src="./IMAGES/Logos/book.png" alt="picturealt" width="80" height="80">
          -->
          <h3>Libraries and Techniques used</h3>
        </a>
      </div>

    </div>

     <p>For Information about us, you can view the authors page <a href="/authors">Here!</a></p>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="crossorigin=""></script>
</body>
</html>