<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../Sections/head%>
  <meta charset="UTF-8">
  <title>Overview</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="page page-id-007">
  <% include ../Sections/nav%>

  <div class="flex-container">
    <h1 style="width: 100%">Individual Project 3</h1>

    <p>The purpose of this website is to complete the requirements given to this group as a part of the Integrated Project 3, 
      completed as a part of our studies at Glasgow Caledonian University.
    </p>
    <p>The project consists of a set of data visualisations and of tutorials related to the theme of visualisations and data manipulation
        within the context of the project. There were in total 6 visualisations created. In addition to the visualisations this project produced 6 tutorials.
    </p>
    
    <h2 class="Vis-Head"> Visualisation Tutorials
    </h2>
  
    <div class="visualisation-container">
  <div class="Sect1">
      <div class="Vis-Cont">
        <a href="/earthquakes">
          <img src="./IMAGES/Logos/earthquake-IP.png" alt="Earthquake picture" width="80" height="80">
          
          <h3>Earthquakes</h3>  
        </a>    
      </div>
      <div class="Vis-Cont">
        <a href="/weather">
          <img src="./IMAGES/Logos/sun-IP.png" alt="Earthquake picture" width="80" height="80">
          
          <h3>Weather</h3>
        </a>
      </div>
      <div class="Vis-Cont">
        <a href="/crypto">
          <img src="./IMAGES/Logos/column-IP.png" alt="Earthquake picture" width="80" height="80">

          <h3>Crypto Currencies</h3> 
        </a>
          </div>
  </div>
  <div class="Sect2">
      <div class="Vis-Cont">
        <a href="/citybikes">
          <img src="./IMAGES/Logos/bike-parking-IP.png" alt="Earthquake picture" width="80" height="80">
          
          <h3>City Bikes</h3>
        </a>
      </div>
      <div class="Vis-Cont">
        <a href="/postcode">
          <img src="./IMAGES/Logos/map-location-IP.png" alt="Earthquake picture" width="80" height="80">
          
          <h3>Postcode</h3>
        </a>
      </div>
      <div class="Vis-Cont">
        <a href="/petition">
          <img src="./IMAGES/Logos/vote-IP.png" alt="Earthquake picture" width="80" height="80">
          <h3>Petitions</h3>
        </a>
      </div>
    </div>
    </div>
              <!-- Tutorial Start-->



    <h2 class="Tut-Head"> Tool & Resource Tutorials</h2>
    <div class="tutorial-container">
  <div class="Sect1">
      <div class="Tut-Cont">
        <a href="/geojsontutorial">
          <img src="./IMAGES/Logos/planet-earth-IP.png" alt="picturealt" width="80" height="80">
          
          <h3>GeoJSON</h3>
        </a>
      </div>
      <div class="Tut-Cont">
        <a href="/earthquaketutorial">
          <img src="./IMAGES/Logos/earthquake2-IP.png" alt="picturealt" width="80" height="80">
          
          <h3>Earthquake Data</h3>
        </a>
      </div>

      <div class="Tut-Cont">
        <a href="/weathertutorial">
          <img src="./IMAGES/Logos/flood-IP.png" alt="picturealt" width="80" height="80">
        
          <h3>Weather Data</h3>
        </a>
      </div>
    </div>
    <div class="Sect2">

      <div class="Tut-Cont">
        <a href="/javascripttutorial">
          <img src="./IMAGES/Logos/javascript-IP.png" alt="picturealt" width="80" height="80">
          <h3>Data & JavaScript</h3>
        </a>
      </div>
      <div class="Tut-Cont">
        <a href="/datasets">
          <img src="./IMAGES/Logos/computer-IP.png" alt="picturealt" width="80" height="80">
          
          <h3>Explore APIs</h3>
        </a>
      </div>

      <div class="Tut-Cont">
        <a href="/libraries">
          <img src="./IMAGES/Logos/book-IP.png" alt="picturealt" width="80" height="80">
          
          <h3>Libraries & Techniques</h3>
        </a>
      </div>
    </div>
    </div>
    

     <!-- <p>For Information about us, you can view the authors page <a href="/authors">Here!</a></p> -->
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="crossorigin=""></script>
</body>
</html>