<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../Sections/head%>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="stylesheet" href="/CSS/weather.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <% include ../Sections/nav%>

    <div class="wrapper">
      <div class="controlpanel">

          <div id="titleContainer">
              <h1>Weather</h1>
            </div>

          <div id="weatherContainer">
          </div>

        <div id="inputContainer">
          <p>Latitude: <input type="text" id="latitude" class="latlon"/></p>
          <p>Longitude: <input type="text" id="longitude" class="latlon"/></p>
          <p>Location: <input type="text" id="location" /></p>
        </div>
      
        <div id="buttonContainer">
          <button id="currentWeather">Go!</button>
        </div>
      </div>

      <div class="mapcontainer">
        <div id="map"></div>
      </div>

    </div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFB8EFlo6aU6XRrGqD1D6mtYwh-T5PIhM
    &callback=initMap"></script>
    <script async defer src="/JS/weather.js"></script>
  </body>
</html>
