<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../Sections/head%>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="stylesheet" href="/CSS/weather.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body class="page page-id-002">
    <% include ../Sections/nav%>

    <div class="wrapper">
      <div class="controlpanel">

          <div id="titleContainer">
              <h1>Weather</h1>
            </div>

          <div id="weatherContainer">
          </div>

        <div id="inputContainer">
          <p>Latitude: <input type="text" id="latitude" class="latlon"/></p>
          <p>Longitude: <input type="text" id="longitude" class="latlon"/></p>
          <p>Location: <input type="text" id="location" class="latlon"/></p>
        </div>
      
        <div id="buttonContainer">
          <button id="currentWeather">Go!</button>
        </div>
      </div>

      <div class="mapcontainer">
        <div id="map"></div>
      </div>

    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="crossorigin=""></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFB8EFlo6aU6XRrGqD1D6mtYwh-T5PIhM
    &callback=initMap"></script>
    <script async defer src="/JS/weather.js"></script>
  </body>
</html>
